[global]
fsid = f4f098b8-0509-495b-a43f-366bb471ee75
mon initial members = vmhost03.mgt.tite.lan
mon host = 192.168.128.11
auth cluster required = cephx
auth service required = cephx
auth client required = cephx
public network = 192.168.128.0/24
cluster network = 192.168.128.0/24
osd journal size = 100

